<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>
    <meta name="keywords" content="python flask application" />
    <meta name="description" content="simplest wiki" />
    <!--[if lt IE 9 ]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <h1>{{ page.name }}</h1>
    </header>
    <nav>
      <ul>
	<li><a href="{{ url_for('view_page', name='FrontPage')}}">Torna a FrontPage</a></li>
	<li><a href="{{ url_for('edit_page', name=page.name) }}">Modifica questa pagina</a></li>
      </ul>
    </nav>
    <section>
      <pre>{{ content }}</pre>
    </section>
    <footer>
      <p>§</p>
    </footer>
  </body>
</html>
